DATABASE_URL="postgresql://user:password@url:port/name-db"

BETTER_AUTH_SECRET=token
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_APP_URL=http://localhost:3000 # Base URL of your app (for client-side)